.container {
  padding: 10px 10px 10px 0;
}

.author {
  font-weight: bold;
  font-size: 15px;
  margin-top: 7px;
}

.date {
  color: #71717a;
  font-family: monospace;
}

.buttonContainer {
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.replyContainer {
  padding: 10px 10px 10px 30px;
}
